<section class="product-category section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title text-center">
					<h2>Product Category</h2>
				</div>
			</div>
			<div class="col-md-6">
				<div class="category-box">
					<a href="">
						<img src="images/shop/category/category-1.jpg" alt="" />
						<div class="content">
							<h3>Men Dress</h3>
							<p>View Products</p>
						</div>
					</a>	
				</div>
				<div class="category-box">
					<a href="">
						<img src="images/shop/category/category-2.jpg" alt="" />
						<div class="content">
							<h3>Jewellery</h3>
							<p>View Products</p>
						</div>
					</a>	
				</div>
			</div>
			<div class="col-md-6">
				<div class="category-box category-box-2">
					<a href="">
						<img src="images/shop/category/category-3.jpg" alt="" />
						<div class="content">
							<h3>Jewellery</h3>
							<p>View Products</p>
						</div>
					</a>	
				</div>
			</div>
		</div>
	</div>
</section>